
body {
    background-color: rgb(104, 122, 136); 
    margin: 0; 
    line-height: 130%;
 }

 main {
     width: 1200px; 
     margin: 0 auto; 
     background-color: white; 
     padding: 20px; 
 }

 header {
     background-color: rgb(38, 152, 180); 
     padding: 40px 0; 
 }

 footer {
     text-align: center; 
     color: rgb(40, 39, 39); 
     font-size: 20px; 
 }

 h1, h2, h3 {
     font-family: Arial, Helvetica, sans-serif; 
 }

 h1 {
     font-size: 2em; 
     color: rgb(255, 255, 255); 
     text-align: center; 
     text-transform: uppercase; 
    }

 h2 {
     color: rgb(24, 72, 120); 
     margin-top: 30px; 
 }

 h3 {
     border-bottom: 1px dotted #333; 
     font-size: 1.2em; 
     margin-top: 20px; 
 }
 

 a {
     color: #0004ff; 
     text-decoration: none; 
 }

 a:hover {
     background-color: bisque; 
     text-decoration: underline; 
 }

 code, mark {
     font-family: 'Courier New', Courier, monospace; 
 }

 mark {
     padding: 0 5px; 
     background-color: #ca9d23; 
     color: rgb(0, 0, 0);
 }

 @media screen and (max-width: 1200px) {
     main {
         width: 90%; 
         margin: 0 auto; 
     }    
 }
 